@import url('https://fonts.googleapis.com/css?family=Poppins:600,700');

@font-face {
                          font-family: "PoppinsLatin-Medium";
                          src: url('../fonts/PoppinsLatin-Medium.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "PoppinsLatin-SemiBold";
                          src: url('../fonts/PoppinsLatin-SemiBold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "PoppinsLatin-Bold";
                          src: url('../fonts/PoppinsLatin-Bold.ttf') format("truetype");
                        }
                        
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - lightdesktophd */
.font-class-1 {
  font-family         : "PoppinsLatin-Medium", Helvetica, Arial, serif;
  font-size           : 17.0px;
  letter-spacing      : -0.57px;
  line-height         : 26.0px;
}
.font-class-2 {
  color               : var(--auto-palette-color-2);
  font-family         : Poppins, Helvetica, Arial, serif;
  font-size           : 20.0px;
  font-weight         : 600;
  letter-spacing      : -0.67px;
  line-height         : 30.0px;
}
.font-class-3 {
  font-family         : "PoppinsLatin-Medium", Helvetica, Arial, serif;
  font-size           : 15.0px;
  letter-spacing      : -0.67px;
  line-height         : 23.0px;
}
.font-class-4 {
  color               : var(--auto-palette-color-1);
  font-family         : "PoppinsLatin-SemiBold", Helvetica, Arial, serif;
  font-size           : 55.0px;
  letter-spacing      : -3.00px;
  line-height         : 83.0px;
}
.font-class-5 {
  font-family         : "PoppinsLatin-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  letter-spacing      : -0.80px;
  line-height         : 33.0px;
}
:root {
  --auto-palette-color-1: rgba(241,60,49,1.0);
  --auto-palette-color-2: rgba(255,255,255,1.0);
  --auto-palette-color-3: rgba(0,0,0,1.0);
  --auto-palette-color-4: rgba(37,43,51,1.0);
  --auto-palette-color-5: rgba(51,58,69,1.0);
}
@keyframes bp1-anima-animate-enter-frames {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
.lightdesktophd .director-global-sal-8M9zLJ {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  flex-shrink         : 0;
  height              : auto;
  margin-top          : 0px;
  min-height          : 62px;
  min-width           : 235px;
  position            : relative;
  text-align          : left;
  width               : auto;
}
.lightdesktophd .every-brand-has-stor-sTocGH {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-4);
  height              : auto;
  margin              : 42px 0 0 0;
  position            : relative;
  text-align          : left;
  width               : 499px;
}
.lightdesktophd .button-india-nic-cgmJkX {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 76px;
  margin              : 42px 0 0 0;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 234px;
}
.lightdesktophd .button-india-nic-cgmJkX:hover {
  transform           : scale(0.95);
}
.lightdesktophd .group-4-Xn4cxL {
  background-color    : rgba(255,255,255,0);
  height              : 76px;
  left                : 0px;
  pointer-events      : auto;
  position            : relative;
  top                 : 0px;
  transition          : all 0.2s ease-in-out;
  width               : 234px;
}
.lightdesktophd .group-4-Xn4cxL:hover {
  transform           : scale(0.95);
}
.lightdesktophd .rectangle-RIiLvP {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 38.0px;
  height              : 76px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 234px;
}
.lightdesktophd .about-india-nic-u2192-ZV8xDl {
  background-color    : rgba(255,255,255,0);
  height              : auto;
  left                : 31px;
  position            : absolute;
  text-align          : left;
  top                 : 24px;
  width               : auto;
}
.lightdesktophd .span1-ZV8xDl {
  letter-spacing      : 0.00px;
}
.lightdesktophd .span2-ZV8xDl {
  font-family         : Poppins, Helvetica, Arial, serif;
  font-weight         : 700;
  letter-spacing      : 0.00px;
}
.lightdesktophd .span3-ZV8xDl {
  letter-spacing      : 0.00px;
}
.lightdesktophd .india-nic-com-copy-2-l37dXz {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  height              : auto;
  margin              : 0;
  pointer-events      : auto;
  position            : relative;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  width               : 111px;
}
.lightdesktophd .india-nic-com-copy-2-l37dXz:hover {
  transform           : scale(0.9);
}
.lightdesktophd .group-4-2SgBKU {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 24px;
  justify-content     : flex-start;
  margin              : 0;
  position            : relative;
  width               : auto;
}
.lightdesktophd .cohort-work-XTWcq1 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  height              : auto;
  margin              : 0 0 0 30px;
  pointer-events      : auto;
  position            : relative;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  width               : 97px;
}
.lightdesktophd .cohort-work-XTWcq1:hover {
  transform           : scale(0.9);
}
.lightdesktophd .website-link-group-KMqGZj {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 24px;
  justify-content     : flex-start;
  left                : 0px;
  position            : absolute;
  top                 : 618px;
  width               : auto;
}
.lightdesktophd .a9am-io-copy-VlyhaJ {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  height              : auto;
  margin              : 0 0 0 30px;
  pointer-events      : auto;
  position            : relative;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  width               : 59px;
}
.lightdesktophd .a9am-io-copy-VlyhaJ:hover {
  transform           : scale(0.9);
}
.lightdesktophd .jigar-panchal-PsDt54 {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : auto;
  margin-bottom       : -6px;
  min-height          : 77px;
  min-width           : 356px;
  position            : relative;
  text-align          : left;
  width               : auto;
}
.lightdesktophd .group-4-xEJipu {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  margin              : 0;
  position            : relative;
  width               : 347px;
}
.lightdesktophd {
  background-color    : var(--auto-palette-color-2);
  height              : 100vh;
  margin              : 0px;
  min-height          : 866.0px;
  min-width           : 1440.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.lightdesktophd .group-6-auP9FG {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 642px;
  position            : relative;
  width               : 500px;
}
.lightdesktophd .group-3-iFKazk {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 642px;
  justify-content     : flex-start;
  left                : 125px;
  position            : absolute;
  top                 : 103px;
  width               : auto;
}
.lightdesktophd .fb-icon-xPM9RJ {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 32px;
  justify-content     : flex-start;
  margin              : 0 0 0 30px;
  overflow            : hidden;
  position            : relative;
  width               : 32px;
}
.lightdesktophd .group-2-yJDjHY {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 32px;
  justify-content     : flex-start;
  margin              : 42px 0 0 0;
  position            : relative;
  width               : auto;
}
.lightdesktophd .stacked-group-NL8nam {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 500px;
}
.lightdesktophd .instagram-icon-Ux9PS4 {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 32px;
  justify-content     : flex-start;
  margin              : 0 0 0 30px;
  overflow            : hidden;
  position            : relative;
  width               : 32px;
}
.lightdesktophd .facebook-pETBu8 {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 31px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 32px;
}
.lightdesktophd .facebook-pETBu8:hover {
  transform           : scale(0.9);
}
.lightdesktophd .twitter-JCqKaK {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 27px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 32px;
}
.lightdesktophd .twitter-JCqKaK:hover {
  transform           : scale(0.9);
}
.lightdesktophd .twitter-icon-sx2d3Y {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 27px;
  justify-content     : flex-start;
  margin              : 0 0 0 30px;
  position            : relative;
  width               : auto;
}
.lightdesktophd .instagram-bcktVo {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 32px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 32px;
}
.lightdesktophd .instagram-bcktVo:hover {
  transform           : scale(0.9);
}
.lightdesktophd .linked-in-oOMmtS {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 28px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 30px;
}
.lightdesktophd .linked-in-oOMmtS:hover {
  transform           : scale(0.9);
}
.lightdesktophd .linked-in-icon-xsA6Er {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 28px;
  justify-content     : flex-start;
  margin              : 0;
  position            : relative;
  width               : auto;
}
.lightdesktophd .line-copy-tefOVd {
  background-color    : rgba(255,255,255,0);
  height              : 27px;
  left                : 21px;
  position            : absolute;
  top                 : 17px;
  width               : 27px;
}
.lightdesktophd .shape-kvaRI0 {
  background-color    : rgba(255,255,255,0);
  height              : 32px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 22px;
}
.lightdesktophd .line-6mXmV2 {
  background-color    : rgba(255,255,255,0);
  height              : 25px;
  left                : 22px;
  position            : absolute;
  top                 : 20px;
  width               : 25px;
}
.lightdesktophd .group-xWfRCW {
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/light---tablet-oval@2x.png");
  background-size     : 100% 100%;
  bottom              : 42px;
  cursor              : pointer;
  height              : 72px;
  pointer-events      : auto;
  position            : fixed;
  right               : 28px;
  transition          : all 0.2s ease-in-out;
  width               : 72px;
}
.lightdesktophd .group-xWfRCW:hover {
  transform           : scale(1.1);
}
.lightdesktophd .whatsapp-icon-ncK4Wc {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 32px;
  justify-content     : flex-start;
  margin              : 0 0 0 30px;
  position            : relative;
  width               : auto;
}
.lightdesktophd .idea-Y8hNjB {
  background-color    : rgba(255,255,255,0);
  height              : 32px;
  left                : 25px;
  position            : absolute;
  top                 : 18px;
  width               : 22px;
}
.lightdesktophd .whatsapp-xoVzdz {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 32px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 32px;
}
.lightdesktophd .whatsapp-xoVzdz:hover {
  transform           : scale(0.9);
}
.lightdesktophd .product-hunt-QMe8FJ {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 32px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 32px;
}
.lightdesktophd .product-hunt-QMe8FJ:hover {
  transform           : scale(0.9);
}
.lightdesktophd .path-gQ9M7B {
  background-color    : rgba(255,255,255,0);
  height              : 8px;
  left                : 10px;
  position            : absolute;
  top                 : 4px;
  width               : 8px;
}
.lightdesktophd .img-4164-removebg-8BKYOP {
  background-color    : rgba(255,255,255,0);
  bottom              : 0px;
  display             : block;
  height              : 842px;
  position            : absolute;
  right               : 9.00%;
  width               : 760px;
  opacity             : 0;
}
.lightdesktophd .img-4164-removebg-8BKYOP.bp1-anima-animate-enter {
  animation           : bp1-anima-animate-enter-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display             : block;
  opacity             : 0;
}
.lightdesktophd .product-hunt-icon-wTLNEm {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 32px;
  justify-content     : flex-start;
  margin              : 0 0 0 30px;
  position            : relative;
  width               : auto;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - lightmobile */
.font-class-1 {
  font-family         : "PoppinsLatin-Medium", Helvetica, Arial, serif;
  font-size           : 17.0px;
  letter-spacing      : -0.57px;
  line-height         : 26.0px;
}
.font-class-2 {
  color               : var(--auto-palette-color-2);
  font-family         : Poppins, Helvetica, Arial, serif;
  font-size           : 20.0px;
  font-weight         : 600;
  letter-spacing      : -0.67px;
  line-height         : 30.0px;
}
.font-class-3 {
  font-family         : "PoppinsLatin-Medium", Helvetica, Arial, serif;
  font-size           : 15.0px;
  letter-spacing      : -0.67px;
  line-height         : 23.0px;
}
.font-class-4 {
  color               : var(--auto-palette-color-1);
  font-family         : "PoppinsLatin-SemiBold", Helvetica, Arial, serif;
  font-size           : 55.0px;
  letter-spacing      : -3.00px;
  line-height         : 83.0px;
}
.font-class-5 {
  font-family         : "PoppinsLatin-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  letter-spacing      : -0.80px;
  line-height         : 33.0px;
}
:root {
  --auto-palette-color-1: rgba(241,60,49,1.0);
  --auto-palette-color-2: rgba(255,255,255,1.0);
  --auto-palette-color-3: rgba(0,0,0,1.0);
  --auto-palette-color-4: rgba(37,43,51,1.0);
  --auto-palette-color-5: rgba(51,58,69,1.0);
}
@keyframes bp2-anima-animate-enter-frames {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
@keyframes bp2-anima-animate-enter1-frames {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
.lightmobile .every-brand-has-stor-9BjXZF {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-4);
  height              : auto;
  margin              : 52px 0 0 0;
  position            : relative;
  text-align          : center;
  width               : 357px;
}
.lightmobile .button-india-nic-GKf6Hv {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 54px;
  margin              : 52px 0 0 0;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 359px;
}
.lightmobile .button-india-nic-GKf6Hv:hover {
  transform           : scale(0.95);
}
.lightmobile .group-4-H6SSb9 {
  background-color    : rgba(255,255,255,0);
  height              : 54px;
  left                : 0px;
  pointer-events      : auto;
  position            : relative;
  top                 : 0px;
  transition          : all 0.2s ease-in-out;
  width               : 359px;
}
.lightmobile .group-4-H6SSb9:hover {
  transform           : scale(0.95);
}
.lightmobile .rectangle-6kbEzA {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 27.0px;
  height              : 54px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 359px;
}
.lightmobile .about-india-nic-u2192-U33RE3 {
  background-color    : rgba(255,255,255,0);
  height              : auto;
  left                : 94px;
  position            : absolute;
  text-align          : left;
  top                 : 13px;
  width               : auto;
}
.lightmobile .span1-U33RE3 {
  letter-spacing      : 0.00px;
}
.lightmobile .span2-U33RE3 {
  font-family         : Poppins, Helvetica, Arial, serif;
  font-weight         : 700;
  letter-spacing      : 0.00px;
}
.lightmobile .span3-U33RE3 {
  letter-spacing      : 0.00px;
}
.lightmobile .group-2-eGzfZV {
  background-color    : rgba(255,255,255,0);
  height              : 70px;
  margin              : 52px 0 0 0;
  position            : relative;
  width               : 304px;
}
.lightmobile .connect-with-me-zqO1Cz {
  background-color    : rgba(255,255,255,0);
  color               : rgba(138,149,158,1.0);
  height              : auto;
  left                : 66px;
  position            : absolute;
  text-align          : center;
  top                 : 0px;
  width               : auto;
}
.lightmobile .stacked-group-aKUAPr {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 26px;
  justify-content     : flex-start;
  left                : 0px;
  position            : absolute;
  top                 : 44px;
  width               : auto;
}
.lightmobile .facebook-kRtflX {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 25px;
  margin              : 0;
  position            : relative;
  width               : 26px;
}
.lightmobile .instagram-icon-7nyc6R {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 26px;
  justify-content     : flex-start;
  margin              : 0 0 0 30px;
  overflow            : hidden;
  position            : relative;
  width               : 26px;
}
.lightmobile .instagram-v2jDaI {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 26px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 26px;
}
.lightmobile .instagram-v2jDaI:hover {
  transform           : scale(0.9);
}
.lightmobile .twitter-icon-TiF5se {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 22px;
  justify-content     : flex-start;
  margin              : 0 0 0 30px;
  position            : relative;
  width               : auto;
}
.lightmobile .twitter-2XMt2R {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 22px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 26px;
}
.lightmobile .twitter-2XMt2R:hover {
  transform           : scale(0.9);
}
.lightmobile .linked-in-icon-xdNuc6 {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 22px;
  justify-content     : flex-start;
  margin              : 0 0 0 30px;
  position            : relative;
  width               : auto;
}
.lightmobile .linked-in-mmUmJO {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 22px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 24px;
}
.lightmobile .linked-in-mmUmJO:hover {
  transform           : scale(0.9);
}
.lightmobile .product-hunt-icon-hNn4Xx {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 26px;
  justify-content     : flex-start;
  margin              : 0 0 0 30px;
  position            : relative;
  width               : auto;
}
.lightmobile .product-hunt-x05TsX {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 26px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 26px;
}
.lightmobile .product-hunt-x05TsX:hover {
  transform           : scale(0.9);
}
.lightmobile .whatsapp-icon-MqxqxW {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 26px;
  justify-content     : flex-start;
  margin              : 0 0 0 30px;
  position            : relative;
  width               : auto;
}
.lightmobile .whatsapp-4hndZC {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 26px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 26px;
}
.lightmobile .whatsapp-4hndZC:hover {
  transform           : scale(0.9);
}
.lightmobile .website-link-group-rXQr49 {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 24px;
  justify-content     : flex-start;
  margin              : 52px 0 0 0;
  position            : relative;
  width               : auto;
}
.lightmobile .group-4-0tFhgS {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 24px;
  justify-content     : flex-start;
  margin              : 0;
  position            : relative;
  width               : auto;
}
.lightmobile .cohort-work-Pwp8Jj {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  height              : auto;
  margin              : 0 0 0 30px;
  pointer-events      : auto;
  position            : relative;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  width               : 97px;
}
.lightmobile .cohort-work-Pwp8Jj:hover {
  transform           : scale(0.9);
}
.lightmobile .a9am-io-copy-G8GFmH {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  height              : auto;
  margin              : 0 0 0 30px;
  pointer-events      : auto;
  position            : relative;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  width               : 59px;
}
.lightmobile .a9am-io-copy-G8GFmH:hover {
  transform           : scale(0.9);
}
.lightmobile .india-nic-com-copy-2-OV1Wx1 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  height              : auto;
  margin              : 0;
  pointer-events      : auto;
  position            : relative;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  width               : 111px;
}
.lightmobile .india-nic-com-copy-2-OV1Wx1:hover {
  transform           : scale(0.9);
}
.lightmobile {
  align-items         : center;
  background-color    : var(--auto-palette-color-2);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  min-height          : 1290px;
  overflow            : hidden;
  position            : relative;
  width               : 414.0px;
}
.lightmobile .img-4164-removebg-8BKYOP {
  background-color    : rgba(255,255,255,0);
  display             : block;
  flex-shrink         : 0;
  height              : 442px;
  position            : relative;
  width               : 414px;
  opacity             : 0;
}
.lightmobile .img-4164-removebg-8BKYOP.bp2-anima-animate-enter1 {
  animation           : bp2-anima-animate-enter1-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display             : block;
  opacity             : 0;
}
.lightmobile .img-4164-removebg-GKCyT8 {
  background-color    : rgba(255,255,255,0);
  display             : block;
  height              : 442px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 414px;
  opacity             : 0;
}
.lightmobile .img-4164-removebg-GKCyT8.bp2-anima-animate-enter {
  animation           : bp2-anima-animate-enter-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display             : block;
  opacity             : 0;
}
.lightmobile .group-3-iFKazk {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 724px;
  margin-right        : 1.0px;
  margin-top          : 33px;
  position            : relative;
  width               : 359px;
}
.lightmobile .stacked-group-asTXZW {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  left                : 0px;
  position            : relative;
  top                 : 0px;
  width               : 359px;
}
.lightmobile .group-2xqSCJ {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  margin              : 0;
  padding             : 0 0.3px;
  position            : relative;
  width               : 358px;
}
.lightmobile .jigar-panchal-1frW2s {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  flex-shrink         : 0;
  font-family         : "PoppinsLatin-SemiBold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  height              : auto;
  letter-spacing      : -1.76px;
  line-height         : 70.0px;
  margin-right        : 0.0px;
  min-height          : 70px;
  position            : relative;
  text-align          : center;
  width               : 300px;
}
.lightmobile .director-global-sal-J7800r {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  flex-shrink         : 0;
  font-family         : "PoppinsLatin-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  height              : auto;
  letter-spacing      : -0.67px;
  line-height         : 30.0px;
  margin-bottom       : -2px;
  margin-left         : 0.0px;
  margin-top          : 0px;
  min-height          : 28px;
  position            : relative;
  text-align          : center;
  width               : 357px;
}
.lightmobile .group-2f01hs {
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/light---tablet-oval@2x.png");
  background-size     : 100% 100%;
  cursor              : pointer;
  height              : 72px;
  margin              : 52px 0 0 0;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 72px;
}
.lightmobile .group-2f01hs:hover {
  transform           : scale(1.1);
}
.lightmobile .idea-Hil7Fd {
  background-color    : rgba(255,255,255,0);
  height              : 32px;
  left                : 25px;
  position            : absolute;
  top                 : 18px;
  width               : 22px;
}
.lightmobile .path-A91stE {
  background-color    : rgba(255,255,255,0);
  height              : 8px;
  left                : 10px;
  position            : absolute;
  top                 : 4px;
  width               : 8px;
}
.lightmobile .shape-tseSS4 {
  background-color    : rgba(255,255,255,0);
  height              : 32px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 22px;
}
.lightmobile .line-copy-VxxgmW {
  background-color    : rgba(255,255,255,0);
  height              : 27px;
  left                : 21px;
  position            : absolute;
  top                 : 17px;
  width               : 27px;
}
.lightmobile .line-0K22Wu {
  background-color    : rgba(255,255,255,0);
  height              : 25px;
  left                : 22px;
  position            : absolute;
  top                 : 20px;
  width               : 25px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - lighttablet */
.font-class-1 {
  font-family         : "PoppinsLatin-Medium", Helvetica, Arial, serif;
  font-size           : 17.0px;
  letter-spacing      : -0.57px;
  line-height         : 26.0px;
}
.font-class-2 {
  color               : var(--auto-palette-color-2);
  font-family         : Poppins, Helvetica, Arial, serif;
  font-size           : 20.0px;
  font-weight         : 600;
  letter-spacing      : -0.67px;
  line-height         : 30.0px;
}
.font-class-3 {
  font-family         : "PoppinsLatin-Medium", Helvetica, Arial, serif;
  font-size           : 15.0px;
  letter-spacing      : -0.67px;
  line-height         : 23.0px;
}
.font-class-4 {
  color               : var(--auto-palette-color-1);
  font-family         : "PoppinsLatin-SemiBold", Helvetica, Arial, serif;
  font-size           : 55.0px;
  letter-spacing      : -3.00px;
  line-height         : 83.0px;
}
.font-class-5 {
  font-family         : "PoppinsLatin-Bold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  letter-spacing      : -0.80px;
  line-height         : 33.0px;
}
:root {
  --auto-palette-color-1: rgba(241,60,49,1.0);
  --auto-palette-color-2: rgba(255,255,255,1.0);
  --auto-palette-color-3: rgba(0,0,0,1.0);
  --auto-palette-color-4: rgba(37,43,51,1.0);
  --auto-palette-color-5: rgba(51,58,69,1.0);
}
@keyframes bp3-anima-animate-enter2-frames {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
.lighttablet .a9am-io-copy-P9UfPq {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  height              : auto;
  margin              : 0 0 0 30px;
  pointer-events      : auto;
  position            : relative;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  width               : 59px;
}
.lighttablet .a9am-io-copy-P9UfPq:hover {
  transform           : scale(0.9);
}
.lighttablet .india-nic-com-copy-2-OXx7RA {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  height              : auto;
  margin              : 0;
  pointer-events      : auto;
  position            : relative;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  width               : 111px;
}
.lighttablet .india-nic-com-copy-2-OXx7RA:hover {
  transform           : scale(0.9);
}
.lighttablet .button-india-nic-cgmJkX {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 76px;
  margin              : 56px 0 0 0;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 234px;
}
.lighttablet .button-india-nic-cgmJkX:hover {
  transform           : scale(0.95);
}
.lighttablet .group-4-Xn4cxL {
  background-color    : rgba(255,255,255,0);
  height              : 76px;
  left                : 0px;
  pointer-events      : auto;
  position            : relative;
  top                 : 0px;
  transition          : all 0.2s ease-in-out;
  width               : 234px;
}
.lighttablet .group-4-Xn4cxL:hover {
  transform           : scale(0.95);
}
.lighttablet .rectangle-RIiLvP {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 38.0px;
  height              : 76px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 234px;
}
.lighttablet .about-india-nic-u2192-ZV8xDl {
  background-color    : rgba(255,255,255,0);
  height              : auto;
  left                : 31px;
  position            : absolute;
  text-align          : left;
  top                 : 24px;
  width               : auto;
}
.lighttablet .span1-ZV8xDl {
  letter-spacing      : 0.00px;
}
.lighttablet .span2-ZV8xDl {
  font-family         : Poppins, Helvetica, Arial, serif;
  font-weight         : 700;
  letter-spacing      : 0.00px;
}
.lighttablet .span3-ZV8xDl {
  letter-spacing      : 0.00px;
}
.lighttablet .group-2-yJDjHY {
  background-color    : rgba(255,255,255,0);
  height              : 32px;
  margin              : 56px 0 0 0;
  position            : relative;
  width               : 290px;
}
.lighttablet .stacked-group-USJILv {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 32px;
  justify-content     : flex-start;
  left                : 0px;
  position            : relative;
  top                 : 0px;
  width               : auto;
}
.lighttablet .fb-icon-8ft8Vb {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 32px;
  justify-content     : flex-start;
  margin              : 0;
  overflow            : hidden;
  position            : relative;
  width               : 32px;
}
.lighttablet .facebook-IjWynm {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 31px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 32px;
}
.lighttablet .facebook-IjWynm:hover {
  transform           : scale(0.9);
}
.lighttablet .instagram-icon-EuM2Z7 {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 32px;
  justify-content     : flex-start;
  margin              : 0 0 0 20px;
  overflow            : hidden;
  position            : relative;
  width               : 32px;
}
.lighttablet .instagram-PLOZwu {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 32px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 32px;
}
.lighttablet .instagram-PLOZwu:hover {
  transform           : scale(0.9);
}
.lighttablet .twitter-icon-CEymcm {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 27px;
  justify-content     : flex-start;
  margin              : 0 0 0 20px;
  position            : relative;
  width               : auto;
}
.lighttablet .twitter-dUCup6 {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 27px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 32px;
}
.lighttablet .twitter-dUCup6:hover {
  transform           : scale(0.9);
}
.lighttablet .linked-in-icon-BnTtDP {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 28px;
  justify-content     : flex-start;
  margin              : 0 0 0 20px;
  position            : relative;
  width               : auto;
}
.lighttablet .linked-in-GMigyw {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 28px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 30px;
}
.lighttablet .linked-in-GMigyw:hover {
  transform           : scale(0.9);
}
.lighttablet .product-hunt-icon-ilpS9u {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 32px;
  justify-content     : flex-start;
  margin              : 0 0 0 20px;
  position            : relative;
  width               : auto;
}
.lighttablet .product-hunt-ddNNxF {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 32px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 32px;
}
.lighttablet .product-hunt-ddNNxF:hover {
  transform           : scale(0.9);
}
.lighttablet .whatsapp-icon-2OSzwf {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 32px;
  justify-content     : flex-start;
  margin              : 0 0 0 20px;
  position            : relative;
  width               : auto;
}
.lighttablet .whatsapp-zNJJGh {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  flex-shrink         : 0;
  height              : 32px;
  pointer-events      : auto;
  position            : relative;
  transition          : all 0.2s ease-in-out;
  width               : 32px;
}
.lighttablet .whatsapp-zNJJGh:hover {
  transform           : scale(0.9);
}
.lighttablet .img-4164-removebg-8BKYOP {
  background-color    : rgba(255,255,255,0);
  display             : block;
  height              : 100%;
  left                : 442px;
  position            : absolute;
  top                 : 46px;
  opacity             : 0;
}
.lighttablet .img-4164-removebg-8BKYOP.bp3-anima-animate-enter2 {
  animation           : bp3-anima-animate-enter2-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display             : block;
  opacity             : 0;
}
.lighttablet .group-xWfRCW {
  background-color    : rgba(255,255,255,0);
  background-image    : url(".././img/light---tablet-oval@2x.png");
  background-size     : 100% 100%;
  bottom              : 42px;
  cursor              : pointer;
  height              : 72px;
  pointer-events      : auto;
  position            : fixed;
  right               : 28px;
  transition          : all 0.2s ease-in-out;
  width               : 72px;
}
.lighttablet .group-xWfRCW:hover {
  transform           : scale(1.1);
}
.lighttablet .idea-Y8hNjB {
  background-color    : rgba(255,255,255,0);
  height              : 32px;
  left                : 25px;
  position            : absolute;
  top                 : 18px;
  width               : 22px;
}
.lighttablet .path-gQ9M7B {
  background-color    : rgba(255,255,255,0);
  height              : 8px;
  left                : 10px;
  position            : absolute;
  top                 : 4px;
  width               : 8px;
}
.lighttablet .shape-kvaRI0 {
  background-color    : rgba(255,255,255,0);
  height              : 32px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 22px;
}
.lighttablet .line-copy-tefOVd {
  background-color    : rgba(255,255,255,0);
  height              : 27px;
  left                : 21px;
  position            : absolute;
  top                 : 17px;
  width               : 27px;
}
.lighttablet .line-6mXmV2 {
  background-color    : rgba(255,255,255,0);
  height              : 25px;
  left                : 22px;
  position            : absolute;
  top                 : 20px;
  width               : 25px;
}
.lighttablet {
  background-color    : var(--auto-palette-color-2);
  height              : 100vh;
  margin              : 0px;
  min-height          : 768.0px;
  min-width           : 1024.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.lighttablet .group-3-iFKazk {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 768px;
  justify-content     : flex-end;
  left                : 0px;
  min-width           : 512px;
  padding             : 66.0px 68.0px;
  position            : absolute;
  top                 : 0px;
  width               : auto;
}
.lighttablet .group-6-auP9FG {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 590px;
  position            : relative;
  width               : 348px;
}
.lighttablet .stacked-group-NL8nam {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  left                : 0px;
  position            : relative;
  top                 : 0px;
  width               : 348px;
}
.lighttablet .group-2Jdj5L {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  margin              : 0;
  position            : relative;
  width               : 347px;
}
.lighttablet .jigar-panchal-MsDyDb {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : auto;
  margin-bottom       : -6px;
  min-height          : 77px;
  min-width           : 356px;
  position            : relative;
  text-align          : left;
  width               : auto;
}
.lighttablet .director-global-sal-tvIvmD {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  flex-shrink         : 0;
  height              : auto;
  margin-bottom       : -2px;
  margin-top          : 0px;
  min-height          : 31px;
  min-width           : 235px;
  position            : relative;
  text-align          : left;
  width               : auto;
}
.lighttablet .every-brand-has-stor-sTocGH {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-4);
  height              : auto;
  margin              : 56px 0 0 0;
  position            : relative;
  text-align          : left;
  width               : 347px;
}
.lighttablet .website-link-group-dx8u94 {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 24px;
  justify-content     : flex-start;
  margin              : 56px 0 0 0;
  position            : relative;
  width               : auto;
}
.lighttablet .group-4-i5xcSa {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  display             : flex;
  flex-direction      : row;
  height              : 24px;
  justify-content     : flex-start;
  margin              : 0;
  position            : relative;
  width               : auto;
}
.lighttablet .cohort-work-7bUpXs {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  cursor              : pointer;
  height              : auto;
  margin              : 0 0 0 30px;
  pointer-events      : auto;
  position            : relative;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  width               : 97px;
}
.lighttablet .cohort-work-7bUpXs:hover {
  transform           : scale(0.9);
}
@media screen and (max-width: 1023px) {
  .lighttablet {
    display             : none ;
  }
  .lightdesktophd {
    display             : none ;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .lightmobile {
    display             : none ;
  }
  .lightdesktophd {
    display             : none ;
  }
}
@media screen and (min-width: 1440px) {
  .lightmobile {
    display             : none ;
  }
  .lighttablet {
    display             : none ;
  }
}